<table>
  <tr>
    <th><%= link_to "Детский мир", 'childrens_world' %></th>
    <th><%= link_to "Животные", 'animals' %></th>
    <th><%= link_to "Мода и стиль", 'fashion_and_style' %></th>
  </tr>

  <tr>
    <th><%= link_to "Недвижимость", 'property' %></th>
    <th><%= link_to "Транспорт", 'transport' %></th>
    <th><%= link_to "Электроника", 'electronics' %></th>
  </tr>
</table>


<h1>VIP-Объявления</h1>


<div class="row buffer-bottom">
  <%= render partial: 'posters/poster', collection: @poster_vip %>
</div>