<div class="row">
  <div class="col-md-6">
    <h1><%= @poster.title %></h1>
  </div>
</div>

<% if current_user_can_edit?(@poster) %>
    <div class="buffer-top">
      <%= link_to 'Изменить', edit_poster_path(@poster), class: 'btn btn-primary' %>
    </div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="caption">
      <p> <%= image_tag @poster.poster_photo if @poster.poster_photo? %> </p>
    </div>
  </div>

  <div class="col-sm-6 thumbnail">
    <p><strong>Цена: <%= @poster.price %> грн</strong></p>
    <p><strong>Автор: <%= link_to @poster.user.name, @poster.user %></strong></p>
    <p><strong>Телефон: #</strong></p>
  </div>

  <div class="buffer-top">

    <%= render partial: 'comments/form', locals: {comment: @new_comment || @poster.comments.build} %>

    <div class="buffer-both">
      <%= render partial: 'comments/comment', collection: @poster.comments.except(@new_comment) %>
    </div>
  </div>

</div>


